# Flask and related packages
Flask
flask-cors
flask-login
flask-session
flask-limiter

# Authentication
Authlib
google-auth

# Database
mysql-connector-python
PyMySQL

# Google Cloud
google-cloud-sql-connector
google-cloud-storage

# Utilities
Werkzeug
uuid
secrets

# Additional dependencies
requests
python-dotenv