# Flask and related packages
Flask
flask-cors
flask-login
flask-session
flask-limiter

# Authentication
Authlib
google-auth

# Database
mysql-connector-python
PyMySQL
cloud-sql-python-connector[pymysql]

# Google Cloud
google-cloud-storage

# Utilities
Werkzeug
pyOpenSSL  # Added OpenSSL bindings

# Additional dependencies
requests
python-dotenv

#gunicorn
gunicorn